@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/utilities";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";

body {
    font-family: 'Ubuntu', sans-serif;
}

.content {
    padding: {
        top: 80px;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.mdc-top-app-bar {
    @extend .shadow-sm, .border-bottom;

    @include mdc-top-app-bar-fill-color($white);
    @include mdc-top-app-bar-ink-color($dark);
    @include mdc-top-app-bar-icon-ink-color($dark);
}

.mdc-select {
    @include mdc-select-focused-bottom-line-color($dark);
    @include mdc-select-focused-label-color($dark);
}

.mdc-dialog__container {
    width: 100%;

    .mdc-dialog__surface {
        width: 100%;
    }
}

.mdc-dark {
    @include mdc-button-filled-accessible($dark);
}

.mdc-light {
    @include mdc-button-filled-accessible($light);
}

.mdc-text-field {
    width: 100%;

    @include mdc-text-field-label-color($dark);
    @include mdc-text-field-caret-color($dark);
    @include mdc-text-field-ink-color($dark);
    @include mdc-text-field-line-ripple-color($dark);
}

.mdc-text-field--with-leading-icon .mdc-text-field__icon, .mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 20px;
}